header {
  height: ;
  background: black;
  background-color: black;
}

.header-scl {
  display: inline-block;
}

.header-scl i {
  margin-right: 1em;
}

#input {
  display: inline;
}

#main {
  padding-top: 70px;
}

.navbar {
  border-radius: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: -webkit-flex;
  /* Safari */
  -webkit-flex-wrap: nowrap;
  /* Safari 6.1+ */
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

a h3 {
  margin-top: 1em;
  text-decoration: none;
  color: black;
}

.affix {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.nav {
  border: ;
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
}

.nav-item a {
  border: ;
  padding: 0px;
  width: rem;
  margin-right: 5px;
}

.nav-item a i {
  border: ;
  padding: 0px;
  width: rem;
  margin: ;
}

#logo {
  border: ;
  width: ;
  padding: 0px;
  margin-bottom: 0px;
  line-height: 70%;
  font-family: 'Tangerine', cursive;
  font-size: 2.2em;
  text-shadow: ;
}


/*center nav items*/

.nav-pills {
  border: ;
  margin: 5px 0 0 0;
  padding: 0px;
  display: flex;
  align-items: center;
}

.nav-link {
  color: black;
}


/* fixed to top styles */

.affix.navbar {
  background-color: #333;
}

.affix.navbar .nav-item>a,
.affix.navbar .nav-brand,
.affix.navbar .nav-item span,
.affix.navbar .nav-item .nav-link,
.affix.navbar .home,
.affix.navbar .blog,
affix.navbar .nav-item .fa-bars {
  color: #fff;
  text-shadow: 1px 1px black;
}

.title {
  background-color: transparent;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.accordion dt a {
  text-decoration: none;
  color: lightgrey;
  text-shadow: 1px 1px 1px black;
}
.accordion dt {
  border-bottom: 1px solid grey;
  border-top: 1px solid lightgrey;
  margin:0;
  padding:10px 0;
  font-family: 'Josefin Sans', sans-serif;
  
}

/* navbar collapsing */

@import "compass/css3";
.accordion {
  margin: 50px;
  dt,
  dd {
    padding: 10px;
    border: 1px solid black;
    border-bottom: 0;
    &:last-of-type {
      border-bottom: 1px solid black;
    }
    a {
      display: block;
      color: black;
      font-weight: bold;
    }
  }
  dd {
    border-top: 0;
    font-size: 12px;
    &:last-of-type {
      border-top: 1px solid white;
      position: relative;
      top: -1px;
    }
  }
}

a {
  text-decoration: none;
}

body {
  font: 16px Sans-Serif;
}

@media screen and (min-width: 500px) {
  #carousel {
    height: 400px;
    margin: auto;
    margin-top: 2em;
    margin-left: 1em;
    margin-bottom: 3em;
    width: 66.66%;
    float: left;
  }
  .carousel {
    background: #EEE;
  }
  .carousel img {
    display: block;
    padding: 10px;
  }
  .about-me {
    width: 30%;
    float: right;
    margin-top: 2em;
    margin-bottom: 4em;
    overflow: auto;
    height: 400px;
  }
  #hamburger {
    display: none;
  }
  .fa-bars {
    display: none;
  }
  .collapse-search {
    display: none;
  }
  .myHamburger {
    display: none;
  }
  .dropbtn {
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropbtn:hover,
  .dropbtn:focus {
    background-color: transparent;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .myDropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1
  }
  .show {
    display: block;
  }
  .topics {
    display: inline-flex;
    justify-content: space-between;
  }
  .topic-heading {
    margin-bottom:;
  }
  .thumbnail {
    margin-right: 1em;
    box-sizing: border-box;
    width: 25%
  }
  .topics>div {
    margin-left: 1.5em;
  }
  .thumbnail a {
    text-decoration: none;
    color: black;
  }
  .thumbnail a img {
    width: 33%;
    border-radius: 100%;
  }
}

footer {
  height: ;
  background-color: black;
}

footer img {
  width: 100%;
  margin-top: 3em;
  margin-bottom: 3em;
}

.footer-scl {
  display: flex;
  justify-content: space-around;
  float: left;
}

footer a .fa {
  color: white;
  margin-top: 1em;
  width: 50%;
}

@media screen and (max-width: 500px) {
  header {
    display: none;
  }
  .nav-link {
    display: none;
  }
  .myDropdown {
    display: none;
  }
  .Mdropdown {
    display: none;
  }
  .fa-bars {
    background-color: transparent;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .fa-bars:hover,
  .fa-bars:focus {
    background-color: transparent;
  }
  .hamburger {
    position: relative;
    display: inline-block;
  }
  .myHamburger {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .myHamburger a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .myHamburger a:hover {
    background-color: #f1f1f1
  }
  .show {
    display: block;
  }
  #carousel {
    width: 92%;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .carousel {
    background: #EEE;
  }
  .carousel img {
    display: block;
    padding: 10px;
  }
  .about-me {
    width: 95%;
    padding: 0 3em;
    overflow: auto;
    height: 300px;
    margin-bottom: 2em;
    margin-top: 3em;
  }
  .card {
    width: 100%;
  }
  .thumbnail a {
    text-decoration: none;
    color: black;
  }
  .thumbnail a img {
    border-radius: 100%;
    width: 33%;
    margin-top: 10px;
  }
}

.widget-title {
  background: #c6c6c6;
  color: ;
}

.widget-title {
  background: grey;
  text-align: center;
  color: #fff;
  padding: 13px 0;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  margin-bottom: 25px;
}

h4 {
  font-size: 100%;
  font-weight: normal;
}

h4 {
  display: block;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

body {
  font-family: "Lora", sans-serif;
  font-size: ;
  color: #242424;
  background: #fff;
}

.widget-title:after {
  border-top-color: grey;
}

.widget-title:after {
  content: "";
  display: block;
  position: absolute;
  border-top: 5px solid;
  border-top-color: grey;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
}